@import url("https://fonts.googleapis.com/css?family=Josefin+Slab");

body {
  background-color: rgb(19, 19, 19);
  animation: fadeInAnimation ease 3s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}
@keyframes fadeInAnimation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.lg {
  position: relative;
  display: inline-block;
  overflow: hidden;
  width: 100%;
}

h1 {
  background-color: transparent;
  font-size: 240px;
  top: 30%;
  left: 23%;
  position: absolute;
  font-family: "Josefin Slab", serif;
  font-weight: 400;
  opacity: 1;
  color: rgb(100, 100, 100);
  mix-blend-mode: difference;
  z-index: -1;
  transition: transform 0.4s;
  pointer-events: none;
}
.bg {
  width: 1600px;
  display: flex;
  justify-content: center;
  margin: 0 auto;
  transition: transform 0.4s;
}
.lg:hover img {
  transition: transform 0.3s;
  transform: scale(0.8);
}

.lg:hover h1 {
  transform: scale(1.4);
  opacity: 1;
  z-index: 1;
}

.bio {
  margin-left: 20%;
  margin-right: 20%;
  margin-bottom: 20%;
  text-align: center;
  font-family: Josefin Slab, serif;
  font-weight: 100;
  padding: none;
  font-size: 48px;
  color: rgb(100, 100, 100);
}

section {
  display: grid;
  place-items: center;
  align-content: center;
}

.hidden {
  opacity: 0;
  filter: blur(5px);
  transition: all 1s;
  transform: translateX(-100%);
}

@media (prefers-reduced-motion) {
  .hidden {
    transition: none;
  }
}

.show {
  filter: blur(0);
  transform: translateX(0);
  opacity: 1;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  font-family: Josefin Slab, serif;
}

li {
  float: right;
}

li a {
  display: flex;
  color: white;
  text-align: center;
  font-size: 24px;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: rgb(66, 66, 66);
  color: black;
}

.title {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  font-size: 68px;
  font-family: Josefin Slab, serif;
  font-weight: bolder;
  color: rgb(0, 110, 110);
}

.skills {
  margin: 2%;
  margin-left: 20%;
  margin-right: 20%;
  font-size: 42px;
  font-family: Josefin Slab, serif;
  font-weight: 100;
  color: rgb(100, 100, 100);
}
.projects {
  margin-left: 20%;
  margin-right: 20%;
  font-size: 42px;
  font-family: Josefin Slab, serif;
  font-weight: 100;
  text-align: left;
  color: rgb(100, 100, 100);
}

a {
  text-decoration: none;
  color: rgb(0, 147, 147);
}

.socials {
  max-width: 1000%;
}
