@import url("https://fonts.googleapis.com/css?family=Josefin+Slab");

body {
  background-color: rgb(19, 19, 19);
  animation: fadeInAnimation ease 3s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

@keyframes fadeInAnimation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.lg {
  position: relative;
  display: inline-block;
  overflow: hidden;
  width: 100%;
}

h1 {
  background-color: transparent;
  font-size: 8vw; /* Use viewport width units for font size */
  top: 10%; /* Adjust top position as needed */
  left: 5%; /* Adjust left position as needed */
  position: absolute;
  font-family: "Josefin Slab", serif;
  opacity: 1;
  color: rgb(100, 100, 100);
  mix-blend-mode: difference;
  z-index: -1;
  transition: transform 0.4s;
  pointer-events: none;
}

.bg {
  max-width: 100%; /* Ensure the background container is responsive */
  display: flex;
  justify-content: center;
  margin: 0 auto;
  transition: transform 0.4s;
}

.lg:hover img {
  transition: transform 0.3s;
  transform: scale(0.8);
}

.lg:hover h1 {
  transform: scale(1.4);
  opacity: 1;
  z-index: 1;
}

.bio {
  margin: 2%;
  text-align: center;
  font-family: Josefin Slab, serif;
  font-weight: 100;
  font-size: 4vw; /* Use viewport width units for font size */
  color: rgb(100, 100, 100);
}

section {
  display: grid;
  place-items: center;
  align-content: center;
}

.hidden {
  opacity: 0;
  filter: blur(5px);
  transition: all 1s;
  transform: translateX(-100%);
}

@media (prefers-reduced-motion) {
  .hidden {
    transition: none;
  }
}

.show {
  filter: blur(0);
  transform: translateX(0);
  opacity: 1;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  font-family: Josefin Slab, serif;
}

li {
  float: none; /* Remove float for responsive navigation */
  text-align: center;
  margin: 10px 0;
}

li a {
  display: block;
  color: white;
  font-size: 4vw; /* Use viewport width units for font size */
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: rgb(66, 66, 66);
  color: black;
}

.title {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 6vw; /* Use viewport width units for font size */
  font-family: "Josefin Slab", serif;
  font-weight: bolder;
  color: rgb(0, 110, 110);
}

.skills {
  margin: 2%;
  font-size: 3vw; /* Use viewport width units for font size */
  font-family: "Josefin Slab", serif;
  font-weight: 100;
  color: rgb(100, 100, 100);
}

.projects {
  font-size: 3vw; /* Use viewport width units for font size */
  font-family: "Josefin Slab", serif;
  font-weight: 100;
  text-align: left;
  color: rgb(100, 100, 100);
}

a {
  text-decoration: none;
  color: rgb(0, 147, 147);
}

.socials {
  max-width: 100%;
}
